################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
# the project part is maybe the only one you will need to modify for a new
# project
[buildout]
parts = part
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
url =http://prdownloads.sourceforge.net/libpng/libpng-1.5.5.tar.gz?download
md5sum=003bcac022125029bae4818d74c42a94




[mirrors]
sourceforge = downloads.sourceforge.net

